<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RadioHeqiatApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>43EE59700158E1F8524817A37422350A4D176216</string>
				<key>dateExpires</key>
				<string>11.02.2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D3K8D9HA27.org.deessemedia.RadioHeqiatApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D3K8D9HA27</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>RadioHeqiatApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75236215-2960-43c9-ad64-ced069ce1f4a</string>
				<key>dateExpires</key>
				<string>17.02.2026</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.deessemedia.RadioHeqiatApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D3K8D9HA27</string>
				<key>name</key>
				<string>DEESSE PRINT &amp; MEDIA LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
